
<%- include("parts/header") %>
<%- include("parts/sidebar") %>

<p class="copiedDone alert alert-success not-visible" id="done"> Copied To Clipboard<i class="fa-solid fa-check"></i></p>
<div class="chat-container">

    <div class="chat">

        <div class="chat-header">

            <div>
                <a href="/profile/<%=friendData._id%>"><div class="friend-name"><%= friendData.username %></div></a>
                <div class="state"><span></span></div>
            </div>

            <ul class="icons">
                <span id="callBtn"><i class="fa-solid fa-phone"></i></span>
                <span id="searchInChat" class="position-relative"><i class="fa-solid fa-magnifying-glass"></i><div class="d-none"><input type="text"><span id="matchedWords">Matched 0</span></div></span>
                <span><i class="fa-solid fa-ellipsis"></i></span>
            </ul>

        </div>

        <div id="chat-messages" class="chat-messages">
            <% if(messages.length != 0){ %>
                <% let from; %>
                <% for(let msg of messages){ %>
                    <% if(msg.sender == isUser){from = "from-me"}else{from = "from-him"} %>

                    <%     let date = new Date(Number(msg.timestamp))
                    let time;
                    if(new Date().getDate() - 2 > date.getDate() ){
                        time = `${date.getDate()}/${date.getMonth() + 1}/${date.getFullYear()}`
                    }else{
                        let hours = date.getHours()
                        let minutes = String(date.getMinutes())
                        let day = "";
                        if(date.getDate() == new Date().getDate() - 1){day = "Yesterday "} 
                        time = `${day}${hours>12?hours%12:hours%24}:${minutes.length == 1?"0"+minutes:minutes} ${hours >= 12?"AM":"PM"}`
                    }
                    %>

                    <div class="message <%= from %>" data-time="<%= time %>"><%= msg.content %></div>
                    
                    <% } %>
                <% }else{ %>
                    <div class="no-messages">No Messages Between You</div>
                    <% } %>
                </div>
                
            <div class="send-message">
                <span class="toDown"><i class="fa-solid fa-arrow-down"></i></span>
                <input id="message" type="text" placeholder="Send a Message">
                <button id="send-button" class="btn btn-primary d-flex justify-content-center align-items-center"><i class="fa-solid fa-paper-plane"></i></button>
            </div>

            <div id="callOverLay" class="callOverLay d-none">
                    <div id="calling" class="actions d-none">
                        <button class="btn sended">Calling <span class="dots"><span class="dot">.</span> <span class="dot">.</span> <span class="dot">.</span></span></button>
                        <button id="cancelCall" class="btn cancel cancelCall text-white">Cancel</button>
                    </div>
                    <div id="noCall" class="no-call actions d-none">
                        <p class="alert m-0">can't call offline user</p>
                        <button id="noCallBtn" class="btn cancel text-white">Back To Chat</button>
                    </div>
                    <div id="permission" class="actions d-none">
                        <p class="alert m-0">give us permission to use the mice</p>
                        <button id="noPermissionBtn" class="btn cancel text-white">Back To Chat</button>
                    </div>
                    <div id="isCalling" class="actions d-none">
                        <p class="alert m-0"><%= friendData.username %> is calling you</p>
                        <button id="answerBtn" class="btn text-white">Answer</button>
                        <button id="declineBtn" class="btn cancel text-white">Decline</button>
                    </div>
                    <div id="answerCall" class="actions d-none">
                        <p class="alert m-0"><i class="fa-solid fa-microphone"></i> <span><span id="minutes">0</span>:<span id="seconds">00</span></span></p>
                        <button id="endCall" class="btn cancel text-white"><i class="fa-solid fa-phone"></i></button>
                    </div>
                    <div id="declineCall" class="actions d-none">
                        <p class="alert m-0"><%= friendData.username %> decline your call </p>
                        <button id="declineMeBtn" class="btn cancel text-white">Back To Chat</button>
                    </div>
            </div>
    </div>


    <div class="information text-center">
        
            <div class="information-header">Information</div>

            <div>
                <div class="mt-5"><img class="info-image" src="/<%= friendData.image %>" alt=""></div>

                <div class="details">
                    <h1><%= friendData.username %></h1>
                    <p><%= friendData.email %></p>
                </div>
            </div>

            
            <div class="idcopy">
                <p>ID : <span id="userId"><%= friendData._id %></span></p>
                <button class="btn btn-dark copyBtn">Copy ID</button>
            </div>

    </div>

    <input type="hidden" id="chatId" value="<%= chatId %>">
</div>
<audio class="d-none" id="otherUserAudio" controls></audio>


<%- include("parts/scripts") %>
<script src="/socket.io/socket.io.js"></script>
<script src="https://unpkg.com/peerjs@1.5.1/dist/peerjs.min.js"></script>
<script src="/js/sockets/init.js"></script>
<script src="/js/sockets/chat.js"></script>
<script src="/js/sockets/allChat.js"></script>
<script src="/js/sockets/callAll.js"></script>
<script src="/js/sockets/call.js"></script>
<script src="/js/sockets/receiveCall.js"></script>

</body>
</html>